<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a routerLink="/welcome" class="navbar-brand">Contact Manager</a>
    </div>

    <ul class="navbar-nav">
      <li>
        <a
          *ngIf="this.authService.isUserLoggedIn()"
          routerLink="/welcome"
          class="nav-link"
          >Home</a
        >
      </li>
      <li *ngIf="this.authService.isUserLoggedIn()">
        <a routerLink="/contacts" class="nav-link">Contacts</a>
      </li>
      <li *ngIf="this.authService.isUserLoggedIn()">
        <a routerLink="/admin" class="nav-link">Dashboard</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!this.authService.isUserLoggedIn()">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li *ngIf="!this.authService.isUserLoggedIn()">
        <a routerLink="/register" class="nav-link">Register</a>
      </li>
      <li *ngIf="this.authService.isUserLoggedIn()">
        <a routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>
